html,
body,
.container {
    height: 100%;
}

.body, .nopadding {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    border: none;
}

img {
    width: 100%;
    max-height: 100vh;
}

#h1 {
    overflow: hidden
}