<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="home">
  <!-- JS scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Nav bar -->
  <nav class="navbar navbar-expand-lg p-3" style="background-color: #b9e1ff;">
    <a class="navbar-brand" href="/homepage">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/theatres"> Theatres</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Genres
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/anime">Anime</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- Something like google logout ish-->
    <ul class="nav navbar-nav navbar-right">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Profile</button>
        <div class="dropdown-menu dropdown-menu-right p-3">
          <h2 style="text-align: center;"> Welcome! </h2>
          <div class="dropdown-divider">
          </div>
          <div style="text-align: center;">
            <form method="POST" action="/logout">
              <button type="submit" class="btn btn-danger"> Logout</button>
            </form>
          </div>
        </div>
      </div>
    </ul>
  </nav>
  </nav>
  </nav>

  <h1> This is the home page! Enjoy your stay!</h1>

  <!-- user search bar inputs-->
  <div class="container">
    <form class="row row-cols-2 p-2" action="/search" method="POST">
      <div class="col-10">
        <input type="search" name="query" class="form-control mr-sm-2" id="search" placeholder="Movie title" />
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-success">Search</button>
      </div>
    </form>

    <!-- Randomize button-->
    <div style = "text-align: center;">
      <button class="btn-hover color-1" data-toggle="modal" data-target="#random-movie-detail"><strong>GIVE ME A
        RECOMENDATION!</strong></button>
    </div>
    
    <!-- Random Movie Modal 
        <div class="modal fade" id="random-movie-detail" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: rgb(202, 224, 244);">
          <div class="modal-header">
            <h3 class="modal-title">Title: {{title}}</h3>
          </div>
          <div class="modal-body">
            <div class="card border-0" style="background-color: rgb(202, 224, 244);">
              <img src="{{image}}" class="card-img-top">
            </div>
          </div>
          <div class="modal-footer">
            {{descriptionshort}}
          </div>
        </div>
      </div>
    </div>
    -->

    <!-- card that shows the stuff-->
    <div class = "wrapper">
      <div class="homecard">
        <img src="{{image}}" class="img-fluid w-100">
        <div class="info">
          <h1>{{title}}</h1>
          <p> {{descriptionshort}}</p>
          <button class="btn" data-toggle="modal" data-target="#long-plot"><strong>Read more</strong></button>
        </div>
      </div>
    </div>

        <!-- long plot of Movie Modal -->
        <div class="modal fade" id="long-plot" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: rgb(202, 224, 244);">
              <div class="modal-body">
                <div class="card border-0" style="background-color: rgb(202, 224, 244);">
                  <img src="{{image}}" class="card-img-top">
                </div>
              </div>
              <div class="modal-footer">
                {{descriptionlong}}
              </div>
            </div>
          </div>
        </div>
  </div>
</body>

</html>