<html>
  <head>

  </head>
  <body>
    <h1>Welcome to Suspenseful Lukewarm Hats' Movie Recommendations!</h1>
    <form action="/homepage" method="post">
      <label>Username</label>
      <input type="text" name="username" minlength="3" required><br>
      <label>Password</label>
      <input type="password" name="password" required><br>
      <input type="submit" name="login" value="login">
    </form>
    <br> Don't have an account?
    <form action="/register" method="post">
      <input type="submit" name="register" value="Create an account">
    </form>
  </body>
</html>
